version: '3.7'

services:
  # bot:
  #   profiles:
  #     - donotstart

  tags:
    ports:
      - "5001:5000"
    # profiles:
    #   - donotstart

  mongodb:
    ports:
      - "27017:27017"

  redis:
    ports:
      - "6379:6379"
